<template>
    <div>
        <h3 class="mt-6">Welcome to <b>component</b> documentation</h3>
        <h1>Beta 1.0</h1>
        <br>
        <hr>

        <section>
           <div class="mt-5  mx-auto container px-4">
               <h2 class="ml-2 flex text-start"><b>WTextField</b></h2>
               <WTextField 
                    v-model="inputValue"
                    :value="inputValue"
                    placeholder="Example component placeholder..."
                    label="label example"
                    showIcon
                />
                <br>
                <br>
                <span class="ml-2 flex text-start">
                    <b>{{ inputValue }}</b>
                </span>
                <br>
                <br>
                <table class="text-left w-full border-collapse">
                    <thead>
                        <tr>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light" >Props</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light" >Type</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light" >Default</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="hover:bg-grey-lighter">
                            <td class="py-4 px-6 border-b border-grey-light"><b>colorOutline</b></td>
                            <td class="py-4 px-6 border-b border-grey-light">String</td>
                            <td class="py-4 px-6 border-b border-grey-light">yellow</td>
                            <td class="py-4 px-6 border-b border-grey-light">
                                <b>colorOutline</b> es una prop la cual nos servira para poder cambiar el color del borde del <b>WTextField</b>, colorOutline="yellow", podremos usar todos los colores de <b>tailwind.</b>
                            </td>
                        </tr>
                        <tr class="hover:bg-grey-lighter">
                            <td class="py-4 px-6 border-b border-grey-light"><b>intensity</b></td>
                            <td class="py-4 px-6 border-b border-grey-light">String</td>
                             <td class="py-4 px-6 border-b border-grey-light">600</td>
                            <td class="py-4 px-6 border-b border-grey-light">
                                <b>intensity</b> es una prop la cual nos servira para poder aumentar o reducir la intensidad del color del borde del componente <b>WTextField</b>. intensity="100", solo recibe un valor puede ser entre 100 y 900.
                            </td>
                        </tr>
                        <tr class="hover:bg-grey-lighter">
                            <td class="py-4 px-6 border-b border-grey-light"><b>label</b></td>
                            <td class="py-4 px-6 border-b border-grey-light">String</td>
                             <td class="py-4 px-6 border-b border-grey-light"></td>
                            <td class="py-4 px-6 border-b border-grey-light">
                                <b>label</b> es una prop la cual nos servira para poder asignar un texto tipo label en la parte superior de <b>WTextField</b>. por defecto es un string vacio.
                            </td>
                        </tr>
                        <tr class="hover:bg-grey-lighter">
                            <td class="py-4 px-6 border-b border-grey-light"><b>showIcon</b></td>
                            <td class="py-4 px-6 border-b border-grey-light">Bool</td>
                             <td class="py-4 px-6 border-b border-grey-light">false</td>
                            <td class="py-4 px-6 border-b border-grey-light">
                                <b>showIcon</b> es una prop la cual nos servira para poder mostrar o ocultar un icono de tipo prepen icon. de momento solo muestra un icono de tipo search.
                            </td>
                        </tr>
                        <tr class="hover:bg-grey-lighter">
                            <td class="py-4 px-6 border-b border-grey-light"><b>placeholder</b></td>
                            <td class="py-4 px-6 border-b border-grey-light">String</td>
                             <td class="py-4 px-6 border-b border-grey-light"></td>
                            <td class="py-4 px-6 border-b border-grey-light">
                                <b>placeholder</b> es una prop la cual nos servira para poder mostrar un texto de referenci dentro del componente <b>WTextField</b>.
                            </td>
                        </tr>
                        <tr class="hover:bg-grey-lighter">
                            <td class="py-4 px-6 border-b border-grey-light"><b>v-model</b></td>
                            <td class="py-4 px-6 border-b border-grey-light">String</td>
                             <td class="py-4 px-6 border-b border-grey-light"></td>
                            <td class="py-4 px-6 border-b border-grey-light">
                                <b>v-model</b> es una prop la cual nos servira para poder capturar el valor que emite el componente de texto <b>WTextField</b>.
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div>
                    <p >El componente <b>WTextField</b> es un componente tipo input o de entrada de datos el cual nos servira para capturar informacion, Este componente usa <b>v-bind="$attrs"</b> el cual hereda todos los eventos nativos del el input. ejemplo: @change="Function", @KeyPress="Function", Es importante destacar que el width del componente es influenciado por el componente padre esto para que el componente sea mas flexible al cambio del width.</p>
                </div>
           </div>
        </section>
        <hr>
        <section>
            <div class="mt-5  mx-auto container px-4">
                <h2 class="ml-2 flex text-start"><b>WButton</b></h2>
                <WButton>Mi texto del boton</WButton>
                <br>
                <br>
                 <table class="text-left w-full border-collapse">
                    <thead>
                        <tr>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light" >Props</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light" >Type</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light" >Default</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="hover:bg-grey-lighter">
                            <td class="py-4 px-6 border-b border-grey-light"><b>colorBorder</b></td>
                            <td class="py-4 px-6 border-b border-grey-light">String</td>
                            <td class="py-4 px-6 border-b border-grey-light">gray-300</td>
                            <td class="py-4 px-6 border-b border-grey-light">
                                <b>colorBorder</b> es una prop la cual nos servira para poder cambiar el color del borde del <b>WButton</b>, WButton="gray-300", podremos usar todos los colores de <b>tailwind.</b> con degradados como ejemplo red-500.
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
                <br>
                <div>
                    <p >El componente <b>WButton</b> es un componente tipo high order component el cual para poder pasar el texto debera ser de esta manera </p>
                  
                       <code class="language-html"> 
                        <span style="color:white">
                             &#60;<span>WButton</span>&#62; <span>Mi texto</span> &#60;&#47;<span>WButton</span>&#62;
                        </span>
                        </code>
                </div>
            </div>
            
        </section>
        <hr>
        <section>
            <div class="mt-5  mx-auto container px-4">
                <h2 class="ml-2 flex text-start"><b>WNoResult</b></h2>
                <WNoResult></WNoResult>
                <br>
                <br>
                 <table class="text-left w-full border-collapse">
                    <thead>
                        <tr>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light" >Props</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light" >Type</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light" >Default</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="hover:bg-grey-lighter">
                            <td class="py-4 px-6 border-b border-grey-light"><b>text</b></td>
                            <td class="py-4 px-6 border-b border-grey-light">String</td>
                            <td class="py-4 px-6 border-b border-grey-light">No se encontraron resultados ...</td>
                            <td class="py-4 px-6 border-b border-grey-light">
                                <b>text</b> es una prop la cual nos servira para poder cambiar el texto o leyenda del componente <b>WNoResult</b>.
                            </td>
                        </tr>
                         <tr class="hover:bg-grey-lighter">
                            <td class="py-4 px-6 border-b border-grey-light"><b>color</b></td>
                            <td class="py-4 px-6 border-b border-grey-light">String</td>
                            <td class="py-4 px-6 border-b border-grey-light">#8a8a8a</td>
                            <td class="py-4 px-6 border-b border-grey-light">
                                <b>color</b> es una prop la cual nos servira para poder cambiar el color del texto o leyenda del componente.
                            </td>
                        </tr>
                        <tr class="hover:bg-grey-lighter">
                            <td class="py-4 px-6 border-b border-grey-light"><b>width</b></td>
                            <td class="py-4 px-6 border-b border-grey-light">Number</td>
                            <td class="py-4 px-6 border-b border-grey-light">100</td>
                            <td class="py-4 px-6 border-b border-grey-light">
                                <b>width</b> es una prop la cual nos servira para poder cambiar tamaño de la imagen, solo se permiten datos de tipo number.
                            </td>
                        </tr>
                        <tr class="hover:bg-grey-lighter">
                            <td class="py-4 px-6 border-b border-grey-light"><b>width</b></td>
                            <td class="py-4 px-6 border-b border-grey-light">Number</td>
                            <td class="py-4 px-6 border-b border-grey-light">100</td>
                            <td class="py-4 px-6 border-b border-grey-light">
                                <b>width</b> es una prop la cual nos servira para poder cambiar tamaño de la imagen, solo se permiten datos de tipo number.
                            </td>
                        </tr>
                        <tr class="hover:bg-grey-lighter">
                            <td class="py-4 px-6 border-b border-grey-light"><b>src</b></td>
                            <td class="py-4 px-6 border-b border-grey-light">String</td>
                            <td class="py-4 px-6 border-b border-grey-light">//ssl.gstatic.com/social/contactsui/images/nocontactsicon_1x.png</td>
                            <td class="py-4 px-6 border-b border-grey-light">
                                <b>src</b> es una prop la cual nos servira para poder cambiar la url de la imagen.
                            </td>
                        </tr>

                        
                        
                    </tbody>
                </table>
                <br>
                <div>
                    <p >El componente <b>WNoResult</b> es un componente que esta pensado para mostar en caso de no tener datos.</p>
                </div>
            </div>
            
        </section>
        <hr>
        <section>
            <div class="mt-5  mx-auto container px-4">
                <h2 class="ml-2 flex text-start"><b>{{ documentacionLogoPrincipal.componente }}</b></h2>
                <WLogoPrincipal
                    title="Example"
                    subtitle="Example sub"
                ></WLogoPrincipal>
                <br>
                <br>
                 <table class="text-left w-full border-collapse">
                    <thead>
                        <tr>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light" >Props</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light" >Type</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light" >Default</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item,i) in documentacionLogoPrincipal.props" :key="i" class="hover:bg-grey-lighter">
                            <td class="py-4 px-6 border-b border-grey-light"><b>{{ item.props }}</b></td>
                            <td class="py-4 px-6 border-b border-grey-light">{{ item.type }}</td>
                            <td class="py-4 px-6 border-b border-grey-light">{{ item.default }}</td>
                            <td class="py-4 px-6 border-b border-grey-light">
                                <div v-html="item.descripcion" ></div>
                            </td>
                        </tr>                        
                    </tbody>
                </table>
                <br>
                <div v-html="documentacionLogoPrincipal.leyenda"></div>
            </div>
        </section>
        <hr>
        <section>
            <div class="mt-5  mx-auto container px-4">
                <h2 class="ml-2 flex text-start"><b>{{ documentacionLoading.componente }}</b></h2>
                <Wloading
                    loading
                ></Wloading>
                <br>
                <br>
                 <table class="text-left w-full border-collapse">
                    <thead>
                        <tr>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light" >Props</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light" >Type</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light" >Default</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item,i) in documentacionLoading.props" :key="i" class="hover:bg-grey-lighter">
                            <td class="py-4 px-6 border-b border-grey-light"><b>{{ item.props }}</b></td>
                            <td class="py-4 px-6 border-b border-grey-light">{{ item.type }}</td>
                            <td class="py-4 px-6 border-b border-grey-light">{{ item.default }}</td>
                            <td class="py-4 px-6 border-b border-grey-light">
                                <div v-html="item.descripcion" ></div>
                            </td>
                        </tr>                        
                    </tbody>
                </table>
                <br>
                <div v-html="documentacionLoading.leyenda"></div>
            </div>
        </section>
        <hr>
        <section>
            <div class="mt-5  mx-auto container px-4">
                <h2 class="ml-2 flex text-start"><b>{{ documentacionCard.componente }}</b></h2>
                <div class="container mx-auto mt-8 grid sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 2x1:grid-cols-5 gap-4">
                    <div class="mx-auto">
                    <WCard
                        title="prueba de texto"
                        img="https://elviajerofeliz.com/wp-content/uploads/2015/09/paisajes-de-Canada.jpg"
                        :clickButton="()=>{  }"
                        showBottonAction
                    
                    ></WCard>
                </div>
                </div>
                <br>
                <br>
                 <table class="text-left w-full border-collapse">
                    <thead>
                        <tr>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light" >Props</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light" >Type</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light" >Default</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item,i) in documentacionCard.props" :key="i" class="hover:bg-grey-lighter">
                            <td class="py-4 px-6 border-b border-grey-light"><b>{{ item.props }}</b></td>
                            <td class="py-4 px-6 border-b border-grey-light">{{ item.type }}</td>
                            <td class="py-4 px-6 border-b border-grey-light">{{ item.default }}</td>
                            <td class="py-4 px-6 border-b border-grey-light">
                                <div v-html="item.descripcion" ></div>
                            </td>
                        </tr>                        
                    </tbody>
                </table>
                <br>
                <div v-html="documentacionCard.leyenda"></div>
            </div>
        </section>
        <section>
            <span>
                <b>Los componentes son pensados para poder ser reutilizados los cuales aun les puede faltar alguna funcionalidad especifica.</b>
            </span>
            <br>
            <br>
        </section>
    </div>
</template>

<script>

import { defineAsyncComponent, ref } from 'vue';



export default {
    components:{
        WTextField      : defineAsyncComponent(() => import('../components/WTextField.vue')),
        Wloading        : defineAsyncComponent(() => import('../components/WLoading')),
        WNoResult       : defineAsyncComponent(() => import('../components/WNoResult.vue')),
        WButton         : defineAsyncComponent(() => import('../components/WButton.vue')),
        WLogoPrincipal  : defineAsyncComponent(() => import('../components/WLogoPrincipal.vue')),
        WListCard       : defineAsyncComponent(() => import('../components/WListCard.vue')),
        WListHistory    : defineAsyncComponent(() => import('../components/WListHistory.vue')),
        WCard           : defineAsyncComponent(() => import('../components/WCard.vue')),
    },
    setup() {
        const inputValue = ref('example');
        const documentacionLogoPrincipal = ref(
            {
                componente:'WLogoPrincipal',
                props:[
                    {
                        props:'title',
                        type:'String',
                        default:'',
                        descripcion:'<b>title</b> es una prop la cual nos servira para poder cambiar el titulo del componente <b>WLogoPrincipal</b>.'
                    },
                    {
                        props:'subtitle',
                        type:'String',
                        default:'',
                        descripcion:'<b>subtitle</b> es una prop la cual nos servira para poder cambiar el subtitulo del componente.'
                    },
                    {
                        props:'font_size_title',
                        type:'Number',
                        default: 50,
                        descripcion:'<b>font_size_title</b> es una prop la cual nos servira para poder cambiar tamaño del titulo.'
                    },
                    {
                        props:'font_size_subtitle',
                        type:'Number',
                        default: 50,
                        descripcion:'<b>font_size_subtitle</b> es una prop la cual nos servira para poder cambiar tamaño del subtitulo.'
                    },
                    {
                        props:'font_weight_title',
                        type:'String',
                        default: 'bold',
                        descripcion:'<b>font_weight_title</b> es una prop la cual nos servira para poder cambiar el font-weight del titulo.'
                    },
                    {
                        props:'color_text_title',
                        type:'String',
                        default: '#f9ab00',
                        descripcion:'<b>color_text_title</b> es una prop la cual nos servira para poder cambiar el color del titulo.'
                    },
                    {
                        props:'color_text_subtitle',
                        type:'String',
                        default: '#000000',
                        descripcion:'<b>color_text_subtitle</b> es una prop la cual nos servira para poder cambiar el color del subtitulo.'
                    },
                    {
                        props:'font_weight_subtitle',
                        type:'String',
                        default: 'bold',
                        descripcion:'<b>font_weight_subtitle</b> es una prop la cual nos servira para poder cambiar el font-weight del subtitulo.'
                    }

                    
                ],
                leyenda:'<p >El componente <b>WLogoPrincipal</b> es un componente que esta pensado para mostar una texto principal.</p>'
            }
        );
        const documentacionLoading = ref(
            {
                componente:'Wloading',
                props:[
                    {
                        props:'loading',
                        type:'Boolean',
                        default:'',
                        descripcion:'<b>loading</b> es una prop la cual nos servira para poder activar o desactivar el componente <b>Wloading</b>.'
                    },
                    {
                        props:'textLoading',
                        type:'String',
                        default:'Loading ...',
                        descripcion:'<b>textLoading</b> es una prop la cual nos servira para poder cambiar el texto del componente.'
                    },

                ],
                leyenda:'<p >El componente <b>Wloading</b> es un componente que esta pensado para mostar un loading de carga mientras se realizan consultas.</p>'
            }
        );
        const documentacionCard = ref(
            {
                componente:'WCard',
                props:[
                    {
                        props:'title',
                        type:'String',
                        default:'',
                        descripcion:'<b>title</b> es una prop la cual nos servira para mostrar un titulo en el card y es de tipo required en caso de no pasarlo marcara un warning.'
                    },
                    {
                        props:'img',
                        type:'String',
                        default:'',
                        descripcion:'<b>img</b> es una prop la cual nos servira para poder mostrar una imagen en el card y es de tipo required en caso de no pasarla marcara un warning.'
                    },
                    {
                        props:'clickButton',
                        type:'Function',
                        default:'()=>{}',
                        descripcion:'<b>clickButton</b> es una prop la cual nos servira para poder ejecutar una funcion para el boton oculto del card'
                    },
                    {
                        props:'showBottonAction',
                        type:'Boolean',
                        default:'',
                        descripcion:'<b>showBottonAction</b> es una prop la cual nos servira para poder mostrar un boton redondo con icono de corazon.'
                    },
                    {
                        props:'activeBottonColor',
                        type:'Boolean',
                        default:'',
                        descripcion:'<b>activeBottonColor</b> es una prop la cual nos servira para poder dejar el boton de modo activo con un color rojo fijo.'
                    },

                ],
                leyenda:'<p >El componente <b>WCard</b> es un componente que esta pensado para generar tarjetas con imagenes, aun esta en desarrollo lo cual faltan mas ajustes.</p>'
            }
        );
        
        
        return {
            inputValue,
            documentacionLogoPrincipal,
            documentacionLoading,
            documentacionCard
        }
    },
}
</script>

<style>
    .language-html{
        background: #525252;
    }
</style>