<template>
  <div class="home">
    
      <div
        class="container mx-auto xl:w-2/5 md:w-2/5"
        :class="`mt-${ resultSearch.length > 0 ? '10': '40'}`"
      >
        <WLogoPrincipal
          title="Search"
          subtitle="The dogs"
        >
        </WLogoPrincipal>

        <WTextField 
          v-model="search"
          placeholder="Busca tu perrito favorito..."
          @keypress.enter="searchDogs"
          showIcon
          :readonly="loading.value"
          message="Escribe y preciona enter para buscar tu perro favorito."
        ></WTextField>
        
        <br>
        <div class="flex mt-4 justify-center">
          <div class="m-3">
              <WButton 
                @click="searchDogs"
              >
                Buscar en the dogs
              </WButton>
          </div>
          <div class="m-3">
              <WButton 
                @click="showHistory = !showHistory"
              >
                Mi historial
              </WButton>
          </div>
        </div>
        <br>
      </div>

      <WListCard
        v-if="!showHistory"
        :items="resultSearch"
        :clickEvent="setLikeClick"
        :listLike="listLike"
        :show="!loading.value"
      ></WListCard>

      <WListHistory
        v-if="showHistory"
        :items="history"
        title="Mi historial de busquedas"
      ></WListHistory>

      <WNoResult 
        v-if="hasData && !loading.value && !showHistory"
        color="#8a8a8a" 
        :text="textContent"
      />

      <Wloading 
        class="mt-5"
        :loading="loading.value" :textLoading="loading.text" 
      />


  </div>
</template>

<script>

import { mapActions, mapMutations, mapState } from 'vuex'
import { defineAsyncComponent } from '@vue/runtime-core'


export default {
  name: 'Home',

  components: {
    WTextField      : defineAsyncComponent(() => import('../components/WTextField.vue')),
    Wloading        : defineAsyncComponent(() => import('../components/WLoading')),
    WNoResult       : defineAsyncComponent(() => import('../components/WNoResult.vue')),
    WButton         : defineAsyncComponent(() => import('../components/WButton.vue')),
    WLogoPrincipal  : defineAsyncComponent(() => import('../components/WLogoPrincipal.vue')),
    WListCard       : defineAsyncComponent(() => import('../components/WListCard.vue')),
    WListHistory       : defineAsyncComponent(() => import('../components/WListHistory.vue')),
  },
  data(){
    return{
      search:'',
      hasData: true,
      showHistory:false,
      textContent:'Haz una busqueda ...',
    }
  },
  methods:{
  
    ...mapActions('storeDogs', ['getSearchDogs']),
    ...mapMutations('storeDogs', ['SET_LIKE_DOGS','SET_HISTORY_DOGS']),

    async searchDogs(){

      if(this.search.trim().length === 0) return;
      this.showHistory = false;
      await this.getSearchDogs( this.search );
     
      this.SET_HISTORY_DOGS(this.search);

      this.hasData = this.resultSearch.length > 0 ? false : true
      this.textContent = this.resultSearch.length > 0 ? '' : 'Lo siento no se encontraron resultados intenta con otra raza...'
    },
    setLikeClick({ id }){
      this.SET_LIKE_DOGS( id );
    },
    toGoDocumentation(){
      this.$router.push({ path: '/documentation' })
    }
  },
  computed:{
    ...mapState('storeDogs',['loading','listLike','history']),
    
    resultSearch:{
      get(){
        return this.$store.state.storeDogs.resultSearch;
      },
      set(value){
        this.$store.commit('storeDogs/SET_SEARCH_DOGS',value);
      }
    }
  
  }
}
</script>
<style>
  .card-history{
    border: 1px solid #c9c9ca;
    height: 44px;
    border-radius: 7px;
  }
</style>