<template>
    <button
        :class="`btn hover:border-${ colorBorder }`"
        v-bind="$attrs"
    >
        <span data-test-id="span-text" class="mx-auto">
          <slot></slot>
        </span>
    </button>
</template>


<script>
export default {
    inheritAttrs: false,
    props:{
      colorBorder:{
        type: String,
        default: 'gray-300'
      }

    },
    setup() {
        
    },
}
</script>

<style>
  .btn{
    background-color:#f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }
  /* .btn:hover{
    border: 1px solid #bebebe;
  } */

</style>