<template>

         <div
            class="wrapper max-w-xs bg-gray-50 rounded-b-md shadow overflow-hidden animate__animated animate__fadeIn"
         >
            <div>
               <img  v-bind="$attrs" style="width: 308px !important;height: 200px !important;object-fit: cover;" :src="img" :alt="title" />
            </div>
            <div class="p-3 space-y-3">
               <button
                  v-if="showBottonAction"
                  :class="`buttonIcon  inline-block p-3 w-12 h-12 text-center text-white transition bg-${ activeBottonColor ? 'red': 'gray'}-500 rounded-full shadow ripple hover:shadow-lg hover:bg-red-600 focus:outline-none flex justify-end`"
                  @click="$emit('like')"
               >
                  <span class="material-icons">
                  favorite_border
                  </span>
               </button>
               <h3 data-test-id="title-card" class="text-gray-700 font-semibold text-md flex justify-start">
                  {{ title }}
               </h3>               
               <div  >
                  <slot/>
               </div>

             
            </div>
            
         </div>

</template>

<script>

export default {
   props:{
      title: {
         type: String,
         // default: ''
         required: true
      },
      img:{
         type: String,
         // default: ''
         required: true
      },
      clickButton:{
         type:Function,
         default: ()=>{}
      },
      showBottonAction:{
         type: Boolean,
         default: false
      },
      activeBottonColor:{
         type: Boolean,
         default: false
      }
   },
}
</script>

<style>
   .buttonIcon{
      margin-top: -42px;
      float: right !important;
      position: relative;
   }
</style>