<template>
    <div class="container mx-auto xl:w-2/5 md:w-2/5 pl-2 pr-2 animate__animated animate__fadeIn">
        <span class="text-md flex  mt-2 text-gray-500 mb-2" v-if="items.length > 0">{{ title }}</span>
        
        <div v-if="items.length > 0">
            <div 
                v-for="(item, i) in items" 
                :key="i"
                class="card-history mt-2 shadow flex justify-between hover:shadow-lg ripple"
            >
          
                <span class="text-md flex  ml-5 mt-2 text-gray-500">{{ item?.search }}</span>
                <span class="text-md flex  mr-5 mt-2 text-gray-500">{{ format_date(item?.hour) }}</span>
            </div>
        </div>
        <div v-else class="mt-7">
            <span class="text-center text-gray-500">Aun no existe un historial ...</span>
        </div>
    </div>
</template>
<script>
import { formatDate } from '../scripts/tools'
export default {
    props:{
        items:{
            type: Array,
            default: []
        },
        title:{
            type: String,
            default:''
        }
    },
    methods:{
        format_date( date ){
            return formatDate( date )
        }
    }
}
</script>