<template>
    <div 
        v-if="show" 
        class="container mx-auto mt-8 grid sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 2x1:grid-cols-5 gap-4"
    >
        <div
          class="mx-auto"
          v-for="( item, i) in items"
          :key="i"
        >
          <WCard 
            showBottonAction
            :title="item.name" 
            :img="item.img"
            @like="clickEvent(item)"
            :activeBottonColor="listLike.includes(item.id) ? true : false"
          >
           <!-- aqui puede ir contenido -->
          </WCard>
    
        </div>
      
     </div>
</template>
<script>
import { defineAsyncComponent } from '@vue/runtime-core'
export default {
    props:{
        items:{
            type: Array,
            required: true
        },
        clickEvent:{
            type:Function,
            required:true
        },
        listLike:{
            type:Array,
            required:true
        },
        show:{
            type: Boolean,
            required:true
        }
    },
    components:{
        WCard           : defineAsyncComponent(() => import('../components/WCard.vue')),
    }
}
</script>