<template>
    <div>
        <span 
            :style="`font-size: ${ font_size_title }px;font-weight: ${ font_weight_title };display: block;color: ${ color_text_title };height: 50px`"
        >
            {{ title }}  
        </span>
        <span 
            :style="`font-size: ${ font_size_subtitle }px;font-weight: ${ font_weight_subtitle }; color: ${ color_text_subtitle }`" 
        >
            {{ subtitle }}
        </span>
    </div>
</template>
<script>
export default {
    props:{
        title: {
            type: String,
            default: ''
        },
        subtitle:{
            type: String,
            default: ''
        },
        font_size_title:{
            type: Number,
            default: 50
        },
        font_weight_title:{
            type: String,
            default: 'bold'
        },
        color_text_title:{
            type: String,
            default: '#f9ab00'
        },
        font_size_subtitle:{
            type: Number,
            default: 50
        },
        font_weight_subtitle:{
            type: String,
            default: 'bold'
        },
        color_text_subtitle:{
            type: String,
            default: '#000000'
        },
    }
}
</script>