<template>
  <div>
   
     <div class=" flex  justify-center">
          <img
            class="animate__animated animate__fadeIn"
            :width="width"
            :src="src"
            />
      <br />
     </div>
      <span class="mt-4 flex  justify-center animate__animated animate__fadeIn" :style="`color: ${ color }; font-size: 15px`" >{{ text }}</span>
    </div>
  
</template>
<script>
export default {
    name:'NoResult',
    props:{
        text:{
          default:'No se encontraron resultados ...',
          type:String
        },
        color:{
          default:'#8a8a8a',
          type:String
        },
        width: {
            default: 100,
            type: Number
        },
        src:{
            default:'//ssl.gstatic.com/social/contactsui/images/nocontactsicon_1x.png',
            type:String
        }
    },
}
</script>