<template>
    <div 
        class="inline-flex flex-col justify-center relative text-gray-500 pr-2 pl-2 w-full" 
        
    >
        <label  class="flex justify-start">{{ label }}</label>
        
        <div class="relative"  >
            <input 
                v-model="valueLocal"
                v-bind="$attrs"
                type="text" 
                class="p-2 rounded border border-gray-200 bg-gray-200 focus:bg-white focus:outline-none focus:ring-2 focus:border-transparent" 
                :class="`focus:ring-${ colorOutline }-${ intensity } pl-${ showIcon ? '8' : '3'  } w-full`"
            />
            <svg v-if="showIcon" class="w-4 h-4 absolute left-2.5 top-3.5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
            </svg>
            
            
            <span v-if="message.length > 0" class="mt-1 leyenda flex justify-start">{{ message }}</span>
        </div>
    </div>
</template>
<script>
export default {
    inheritAttrs: false,
    props:{
        value:{
            type:String,
            default:''
        },
        // placeholder:{
        //     type: String,
        //     default: ''
        // },
        colorOutline:{
            type: String,
            default: 'yellow'
        },
        intensity:{
            type: String,
            default: '600'
        },
        label:{
            type: String,
            default: ''
        },
        showIcon:{
            type: Boolean,
            default: false
        },
        message:{
            type: String,
            default: ''
        },
    },
    data(){
        return{
            valueLocal: this.value
        }
    },
    watch:{
        valueLocal(value){
            this.$emit('input', value);
        }
    },
    
}
</script>
<style>
  .leyenda {
    font-size: 13px;
    font-family: sans-serif;
    color: #ababab;
  }
</style>