.title-principal {
    font-size: 50px;
    font-weight: bold;
    display: block;
    color: #f9ab00;
    height: 50px;
}
.title-static {
    font-size: 50px;
    font-weight: bold;
    /* display: block; */
}
