<template>

  <div>
    <router-view/>
  </div>

</template>

<script>
import { mapMutations } from 'vuex'

export default {
  methods:{
    ...mapMutations('storeDogs',['GET_LIST_DOGS_LIKE','GET_HISTORY_DOGS'])
  },
  created(){
    //obtiene la lista de me gusta del localstorage
    this.GET_LIST_DOGS_LIKE();
    //obtiene la lista del historial de busqueda del localstorage
    this.GET_HISTORY_DOGS();
  }
}

</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
